.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 150px ;
}

label {
  font-size: 26px ;
  display: block;
  padding: 5px ;
  margin: 10px ;
}
span{
  font-size: 16px ;
}

img {
  height: 400px ;
  width: 500px ;
}